/*
Syntax error: Undefined mixin 'border-top-radius'.
        on line 22 of /var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/_select2.scss, in `border-top-radius'
        from line 22 of /var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/_select2.scss
        from line 2 of /var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/select2_call.scss

Backtrace:
/var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/_select2.scss:22:in `border-top-radius'
/var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/_select2.scss:22
/var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/select2_call.scss:2
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:227:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:140:in `block (2 levels) in compile'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:139:in `block in compile'
/usr/lib/ruby/vendor_ruby/compass/logger.rb:45:in `red'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:138:in `compile'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:118:in `compile_if_required'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:101:in `each'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:101:in `block in run'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:100:in `run'
/usr/lib/ruby/vendor_ruby/compass/commands/watch_project.rb:147:in `recompile'
/usr/lib/ruby/vendor_ruby/compass/commands/watch_project.rb:68:in `perform'
/usr/lib/ruby/vendor_ruby/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/vendor_ruby/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/vendor_ruby/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib/ruby/vendor_ruby/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/bin/compass:30:in `block in <main>'
/usr/bin/compass:44:in `call'
/usr/bin/compass:44:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border-top-radius'.\A         on line 22 of /var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/_select2.scss, in `border-top-radius'\A         from line 22 of /var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/_select2.scss\A         from line 2 of /var/www/catalogue/sites/all/themes/fiwareSASS/scss/rewrites/select2/select2_call.scss"; }
