/****************************** Sselect2 */
/* line 79, ../../../scss/rewrites/select2/_select2.scss */
.select2-with-searchbox {
  border: none;
  background: none;
  box-shadow: none;
}
/* line 83, ../../../scss/rewrites/select2/_select2.scss */
.select2-with-searchbox .select2-search {
  display: none;
}

/* line 88, ../../../scss/rewrites/select2/_select2.scss */
.select2-results .select2-highlighted {
  background: rgba(89, 192, 210, 0.49);
}

/* line 92, ../../../scss/rewrites/select2/_select2.scss */
.select2-drop-active {
  border: 1px solid #59c0d2;
}

/* line 96, ../../../scss/rewrites/select2/_select2.scss */
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border: 1px solid #59c0d2;
}

/* line 99, ../../../scss/rewrites/select2/_select2.scss */
.select2-choice {
  height: 30px;
}
