.not-logged-in.page-user,
.page-user-password,
.page-user-register{
  #main-wrapper{
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-top: 48px;
    @media (max-width: $screen-sm-min){
      width: 90%;
      margin-left: 5%;
    }
    @media (max-width: $screen-xs-min){
      width: 100%;
      margin-left: 0;
    }
  }
  .help-block {
    font-size: 11px;
  }
  .form-actions {
    border-top: 1px solid #C2C2C2;
    padding-top: 15px;
    .btn {
      float: right;
      margin-right: 0;
    }
  }
  #block-system-main{
    width: 100%;
  }
}