/****************************** ENABLERS */

article.node-enabler{
  @include enabler-bundle;
}

article.node-bundle {
	@include enabler-bundle;
}

.page-enablers{
  @include layout-adjust;
}

.page-bundles{
  @include layout-adjust;
}

.page-taxonomy{
  @include layout-adjust;
  .node-enabler{
    @include viewsrow;
  }
  .node-bundle {
    @include viewsrow;
  }
}

#node_enabler_form_group_tags{
  width: 100%;
}

#filter-php_code{
  p a{
    text-decoration: underline;
  }
}

#context-admin-node-form-wrapper{
  @media (max-width: $screen-xs-min){
    .vertical-tabs{
      margin: 0;
    }
    .vertical-tabs-list{
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}

article.node-bundle{
	.even img{
		width: 47px !important;
	}
}

#tabs{
  .btn-group li{
    a{
      color: #8b8b8b;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}


.field-name-field-api-chapter{
  ul.links{
    li{
      display: none;
      &:first-child{
        display: inline !important;
        width: 98% !important;
        margin-top: 5px;
      }
    }
  }
}
.node-enabler{
  .field-name-field-services{
    display: none;
  }
}

.links{
  .node-readmore,
  .statistics_counter{
    display: none;
  }
}

.field-group-format.group_api_content.field-group-div.group-api-content.speed-none.effect-none {
min-height: 148px;
}