/* line 246, ../scss/FIWARE-Catalogue/pages/_enabler.scss */
.enabler-instance-row h2 {
  font-size: 20px !important;
  border-bottom: 1px dashed #59C0D2 !important;
  padding-left: 22px;
  background: url(/sites/all/themes/fiwareSASS/images/instance.png) left bottom no-repeat;
  background-size: 19px;
  background-position: 0px -1px;
  color: #333 !important;
  margin-top: 6px !important;
  padding-top: 0 !important;
  margin-bottom: 10px !important;
}
/* line 261, ../scss/FIWARE-Catalogue/pages/_enabler.scss */
.enabler-instance-row .enabler-instance-lnk span,
.enabler-instance-row .views-field-body span,
.enabler-instance-row .views-field-edit-node span {
  font-weight: bold !important;
}
/* line 263, ../scss/FIWARE-Catalogue/pages/_enabler.scss */
.enabler-instance-row .enabler-instance-lnk {
  margin-bottom: 10px;
}
/* line 266, ../scss/FIWARE-Catalogue/pages/_enabler.scss */
.enabler-instance-row{
  .views-field-edit-node a {
    background: url(/sites/all/themes/fiwareSASS/images/edit.png) left bottom no-repeat;
    background-size: 16px;
    background-position: 0px -3px;
    padding-left: 19px;
    margin-left: 10px;
    font-size: 11px;
  }
  .views-field-edit-node{
    clear: both;
    margin-bottom: 25px;
  }
}

.view-enabler-instances-list{
  .view-header h2{
    margin-top: 0 !important;
  }
  .view-content{
    .views-field-title h2{

    }
  }
}

/****************************** ENABLER */
.node-enabler-instance-listing{

  .view-content{
    h2{
      display: block;
      font-size: 20px;
    }
    .views-row{
      width: 100% !important;
      margin: 0 0 16px;
      .views-field-title h2{
        color: $brand-primary;
        border-bottom: 1px solid $gray;
      }
    }
  }
}
.view-enabler-instances-list{
  .view-content h2{
      display: block;
      font-size: 20px;
      border-bottom: 1px solid #ccc;
    }
}


body.group-context-node{
  #content{
    margin-bottom: 40px;
      h2{
      width: auto;
      height: auto;
      word-wrap: none;
      text-overflow: initial;
      margin-top: 20px;
      overflow: visible;
      margin-bottom: 10px;
      color: $brand-primary;
      font-size: 17px;
    }
  }
  article.node-enabler, article.node-bundle, article.page-taxonomy {
    border: none !important;
    padding: 0;
  }
  #block-system-main{
    .content {
      margin-top: 0px;
      @media (max-width: $screen-xs-min){
        margin-top: 20px;
      }
      .view-empty{
        @extend .alert;
        @extend .alert-danger;
      }
      .panel-col-top .view-id-api_sub_pages_list{
        border-bottom: 1px solid #ccc;
        padding-bottom: 0px;
        .view-header{
          display: inline-block;
          vertical-align: super;
          float: left;
          a.enabler-subpage-link{
            border-bottom: 3px solid transparent;
            padding: 0px 4px 3px;
            color: $gray;
            &:hover{
              border-bottom: 3px solid $gray;
            }
            &:before{
              margin-right: 6px;
            }
              @media (max-width: $screen-sm-min){
                  span{
                    display: none;
                  }
                }
          }

            a.active{
              color: $gray-dark;
              border-bottom: 3px solid $brand-secundary;
            }
        }
        .view-content {
          display: block;
          //margin: 0;
          margin: 11px 0 4px;
          .views-row{
            width: auto !important;
            margin: 0 0px -4px;
            border-bottom: 3px solid transparent;
            padding: 0 6px 1.9px;
            .enabler-subpage-link{
              a{
                margin: 0 0px -4px;
                padding: 0px 4px 2.9px;
                  color: $gray;
                  &:hover{
                  color: $gray-dark;
                  border-bottom: 3px solid $gray;

                    }
                    @media (max-width: $screen-sm-min){
                        span{
                        display: none;
                      }
                    }
                          }
                          a.active{
                              color: $gray-dark;
                border-bottom: 3px solid $brand-secundary;
                &:hover{
                  color: $gray-dark;
                  border-bottom: 3px solid $brand-secundary;
                }
                          }
                }

          }
          .views-row.active{
            color: $gray-dark;
            border-bottom: 3px solid $brand-secundary;
            &:hover{
              color: $gray-dark;
              border-bottom: 3px solid $brand-secundary;
            }
          }

        }
        .view-header{
            @media (max-width: 674px){
            margin-top: 9px;
          }
        }
        .view-content .views-row{
            @media (max-width: 674px){
            margin-top: 9px;
          }
        }
      }
      .center-wrapper{
        margin-top: 20px;
      }
    }
  }
  .panel-3col-labs .panel-col-first .panel-pane {
      padding-bottom: 0px;
  }
  .panel-3col-labs .panel-col-first{
    border: 1px solid #C5C5C5;
    padding: 0 10px 3px;
    word-break: break-word;
    margin: 0px 15px 0px 0px;
    @media (max-width: $screen-xs-min){
      width: 100%;
    }

    .views-field-field-rank{
      position: absolute;
      top: 61px;
      left: -10px;
      width: 213px;
      .field-content{
        font-size: 10px;
        padding: 1px 4px 2px;
        a{
          display: inline !important;
          width: 98% !important;
          color: #FFF;
          font-size: 10px;
          padding: 1px 4px 2px;
        }
      }

      .fiware-ge{background-color: $grayGE;}
      .compliant-ge{background-color: $greenGE;}
      .incubated-ge{background-color: $yellowGE;}
      .archived-geis{background-color: $redGE;}
    }
    .views-row{
      width: 100% !important;
      margin: 0 !important;
      strong {
        font-size: 11px;
        line-height: 25px;
      }
    }
    .views-field-field-api-icon,
    .views-field-field-icon{
      background: #D9D9D9;
      height: 61px;
      width: 213px;
      margin-left: -10px;
      margin-bottom: 17px;
      .field-content {
        width: 55px;
        margin: 0 auto;
        padding: 10px 0;
        img{
          width: 41px;
          height: 41px;
        }
      }
    }
  }
}

.field-type-text-with-summary{
  .field-item{
    h1, h2, h3, h4, h5, h6{
      margin-bottom: 2px !important;
      margin-top: 18px !important;
      &:first-child{
        margin-top: 0px !important;
      }
    }
    h4, h5{
      color: $black;
    }
    ul, ol{
      margin-top: 9px;
      margin-bottom: 14px;
      li{
        margin: 8px 0;
        list-style: inherit;
      }
    }
  }
}

.pane-subscribe-group{
  padding-bottom: 0 !important;
  .pane-content a{
    width: 100%;
    @extend .btn-default;
    margin-bottom: 5px;
  }
}
article.node-full{
  @media (max-width: $screen-xs-min){
    margin-top: 20px;
  }
}
.views-field-field-api-icon{
  @media (max-width: $screen-xs-min){
    width: 104% !important;
  }
}

#block-views-exp-bundles-list-page,
#block-views-exp-api-list-page,
#block-views-exp-tool-list-page{
    float: left;
}

p.test {
 white-space:nowrap;
 width:12em;
 overflow:hidden;
 text-overflow: ellipsis; /*otras hornamentales*/
}

body.node-type-bundle{
  .panel-col-top{
    .views-row-first{
      span i{
        @extend .fa;
        @extend .fa-database;
        &:before{
          margin-right: 6px;
        }
      }
    }
  }
}

.views-field-field-feedback,
.views-field-field-stack-overflow{
  @extend .btn;
  @extend .btn-default;
  width: 100%;
  margin-top: 10px;
  &:hover{
    .field-content a{
      color: $brand-secundary;
      }
  }
    .field-content{
      @include text-overflow;
    }
  span{
    display: none;
  }
}

.field-name-field-feedback{
  display: none;
}


/****************************** ENABLER CREATE*/
div.vertical-tabs ul.vertical-tabs-list li {
  background-color: #E7E7E7;
}

#edit-field-so-name{
  display: block;
}
.page-node-add-instance{
  #block-system-main {
    @include make-md-column(12, $gutter: $grid-gutter-width);
    .content{
      @include make-xs-column(12, $gutter: $grid-gutter-width);
      @include make-sm-column(10, $gutter: $grid-gutter-width);
      @include make-md-column(7, $gutter: $grid-gutter-width);
      float: none !important;
      @extend .well;
      @include center-block;
      .form-item,
      .form-wrapper{
        margin-bottom: 20px;
        width: 100%;
        clear: both;
        padding: 0
      }
      .filter-guidelines-processed{
        margin-top: 0;
        margin-bottom: 4px;
      }
      .vertical-tabs{
        clear: both;
      }
      div.vertical-tabs .vertical-tabs-panes {
        float: left;
      }
      .image-widget-data,
      .form-type-managed-file{
        input {
          &[type="file"]{
            margin-top: 8px;
            margin-bottom: 4px;
          }
        }
      }
    }
    ul.tips{
      padding-left: 0px;
      li{
        margin-bottom: 10px;
      }
    }
  }
}

.page-enablers-add-enabler{
  @include modal-simulation;
}

.page-bundles-add-bundle{
  @include modal-simulation;
}

.page-bundles-add-bundle{
  .table-hover tbody tr:hover > td{
    background: rgba(231, 231, 219, 0.13) !important;
    color: $text-color !important;
  }
}

#field-stack-overflow-add-more-wrapper{
  display: none;
}


.page-group-node-admin-people-add-user #page{
  background: #101010 url(images/bkg.png) bottom left repeat-x;
  .content{
    background: #FFF;
  }
  #branding{
    background-color: #F0F0F0;
  }
}
form#og-ui-add-users {
  display: table;
  margin: 0px auto 0;
  min-height: 100px;
  min-width: 700px;
  position: relative;
  padding: .2em;
  padding-bottom: 2em;
  padding-right: 26px;
  width: 88%;
}
#workbench-moderation-moderate-form{
  .select2-container{
    width: 160px;
    .select2-choice{
      width: 115px;
      display: inline-flex;
    }
  }
}


.panel-3col-labs .panel-col .inside img{
  @extend .img-responsive;
}
