.page-home{
  #page{
    max-width: 100%;
  }
  #page-wrapper{
    padding: 0 0 125px;
  }
  #top-content{
    min-height: 0;
  }
  #main-wrapper {
    margin-bottom: 0;
  }
  footer.footer {
    margin: 0;
  }
}

#catalogue{
  padding: 0;
}

.row.definition{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 8px;
  section{
    @include make-sm-column(12, $gutter: $grid-gutter-width);
    @include make-md-column(12, $gutter: $grid-gutter-width);
    @include make-lg-column(12, $gutter: $grid-gutter-width);
    float: none;
    h2{
      color: $brand-secundary;
      font-weight: bolder;
      margin-bottom: 10px;
    }
  }
}

.row.take-tour{
  margin: 35px 0 0;
  background-color: #acdfe8;

  .container-fluid{
    padding: 3.5% 0;
    max-width: 1200px;
    margin: 0px auto;
    min-height: 137px;
    @media (max-width: $screen-md) {
      padding: 20px;
    }
    a{
      &:hover h3{
        text-shadow: 0px 0px 6px #FFF;
      }
    }
    .bt_tour {
      background-color: #fbb03b;
      color: white;
      padding: 5px 15px;
      border-radius: 5px;
      text-align: center;
      font-size: 1.4em;
      @media (max-width: 1250px) {
        font-size: 1.5em;
        padding: 7px 15px;
      }
      @media (max-width: 1100px) {
        font-size: 1.2em;
        padding: 10px 15px;
      }
      @media (max-width: $screen-md) {
        font-size: 1.7em;
        padding: 5px 15px;
      }

      .bt_txt{
        font-family: "NeoTechRegular" !important;
        margin-right: 10px;
      }
      &:hover{
        color: $white;
        text-shadow: 0px 0px 2px #FFF;
      }
    }
    .txt_tour{
      padding: 3px 0;
      margin: 0 auto;
      @media (max-width: $screen-md) {
        text-align: center;
        margin: 10px 0;
      }
      h4{
        color: $brand-primary !important;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
      }
    }
    .txt_whatsnew{
      text-align: right;
      h4{
        font-size: 1.5em;
        float: right;
      }
      .whatsnew{
        float: right;
        .whatsnew_img{
          height: 130px;
          width: 130px;
          margin: -40px 0 -40px 15px;
        }
      }
      @media (max-width: $screen-md) {
        text-align: center;
        margin: 20px 0 10px;
        h4{
          float: none;
        }
        .whatsnew{
          float: none;
          .whatsnew_img{
            margin: 0 0 10px;
          }
        }
      }
    }

  }
  @media (max-width: $screen-sm-min){
    img{
      width: 170px;
    }
    h4{
      color: $brand-primary !important;
      text-align: center !important;
    }
  }
}

.row.middle-content{
  background: #f1f1f2; /* Old browsers */
  background: -moz-linear-gradient(left,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f1f1f2), color-stop(50%,#f1f1f2), color-stop(50%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* IE10+ */
  background: linear-gradient(to right,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  margin: 0;
  .sub-middle-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

.reference{
  @include d-r_layout;
  @include make-sm-column(12, $gutter: $grid-gutter-width);
  @include make-md-column(6, $gutter: $grid-gutter-width);
  @include make-lg-column(6, $gutter: $grid-gutter-width);
  background-color: $gray-lighter;
  padding-bottom: 30px;
  h2{
    color: $brand-secundary;
    font-weight: bolder;
    border-bottom: 8px solid $white;
    padding: 31px 15px 3px;
    margin: 0 -15px 16px;
  }
  p{
    margin: 0;
  }
  li{
    @media (max-width: 479px){
      margin-bottom: 15px;
    }
    @media (min-width: 480px) and (max-width: 668px){
      min-height: 260px;
    }
    @media (min-width: 669px) and (max-width: 889px){
      min-height: 314px;
    }
    @media (min-width: 890px) and (max-width: 991px){
      min-height: 305px;
    }
    @media (min-width: 992px) and (max-width: 1067px){
      min-height: 309px;
    }
    @media (min-width: 1068px) {
      min-height: 317px;
    }
    img{
      margin: -18px auto 0 !important;
    }
  }
}

.domain{
  @include d-r_layout;
  @include make-sm-column(12, $gutter: $grid-gutter-width);
  @include make-md-column(6, $gutter: $grid-gutter-width);
  @include make-lg-column(6, $gutter: $grid-gutter-width);
  background-color: $white;
  min-height: 974px;
  h2{
    color: #84c6a3;
    font-weight: bolder;
    border-bottom: 8px solid #84c6a3;
    padding: 31px 15px 3px;
    margin: 0 -15px 16px;
  }
  ul.center-top{
    li.last{
      @media (max-width: $screen-sm-min){
        margin-left: 28%;
      }
      @media (max-width: $screen-xs-min){
        margin: 0 15%;
      }
    }
  }
  ul.center-bottom{
    width: 100%;
    @media (max-width: $screen-sm-min){
      padding-left: 0;
    }
    li{
      margin-left: 0;
    }
  }

  div.bundles-front{
    clear: both;
    h2{
      color: #8cc63f;
      font-weight: bolder;
      border-bottom: 8px solid $gray-lighter;
      padding: 50px 15px 3px;
      margin: 0 -15px 16px;
    }
    div.bundle {
      @include make-sm-column(6, $gutter: $grid-gutter-width);
      @include make-md-column(6, $gutter: $grid-gutter-width);
      @include make-lg-column(6, $gutter: $grid-gutter-width);
      @media (max-width: $screen-sm-min){
        width: 100%;
        margin: 0 0% 20px;
        &:first-child{
          margin-top: 14px;
        }
      }
      h4{
        color: $brand-secundary;
      }
    }
    .row{
        margin-bottom: 25px;
        @media (max-width: $screen-sm-min){
          margin-bottom: 0px;
        }
      .bundle{
        &:first-child{
          border-right: 1px solid $gray;
          @media (max-width: $screen-sm-min){
            border-right: 1px solid transparent;
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
        a {
          img{
            float: right;
            max-width: 71px;
            margin-bottom: 25px;
            margin-right: 44%;
            @include opacity (0.7);
            &:hover{
              @include opacity (1);
            }
            @media (max-width: $screen-sm-min){
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
