.page-home{
  #page{
    max-width: 100%;
  }
  #page-wrapper{
    padding: 0 0 133px;
  }
  #top-content{
    min-height: 0;
  }
  #main-wrapper {
    margin-bottom: 0;
  }
  footer.footer {
    margin: 0;
  }
}

#catalogue{
  padding: 0;
  .row.definition{
    max-width: 1200px;
    margin: 0 auto;
    section{
      @include make-sm-column(12, $gutter: $grid-gutter-width);
      @include make-md-column(12, $gutter: $grid-gutter-width);
      @include make-lg-column(12, $gutter: $grid-gutter-width);
      float: none;
      h2{
        color: $brand-secundary;
        font-weight: bolder;
        margin-bottom: 10px;
      }
    }
  }
  .row.take-tour{
    margin: 35px 0 0;
    background-color: #acdfe8;
    h4{
        color: $brand-primary !important;
        text-align: center !important;
        font-weight: bold;
        width: 200px;
        margin: 0 auto 15px;
        a{
          &:hover{
            color: $brand-primary;
            text-shadow: 0px 0px 12px #FFF;
          }
        }
    }
    .container-fluid{
      padding-right: 30px;
      padding-left: 30px;
    }
    @media (max-width: $screen-sm-min){
      img{
        width: 170px;
      }
      h4{
        width: 279px;
        color: $brand-primary !important;
        text-align: center !important;
      }
    }
  }
  .row.middle-content{
    background: #f1f1f2; /* Old browsers */
    background: -moz-linear-gradient(left,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f1f1f2), color-stop(50%,#f1f1f2), color-stop(50%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* IE10+ */
    background: linear-gradient(to right,  #F1F1F2 0%, #F1F1F2 50%, #FFF 50%, #FFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    margin: 0;
    .sub-middle-content{
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
    }
  .reference{
    @include make-sm-column(12, $gutter: $grid-gutter-width);
    @include make-md-column(6, $gutter: $grid-gutter-width);
    @include make-lg-column(6, $gutter: $grid-gutter-width);
    background-color: $gray-lighter;
    padding-bottom: 30px;
    h2{
      color: $brand-secundary;
      font-weight: bolder;
      border-bottom: 8px solid $white;
      padding: 31px 15px 3px;
      margin: 0 -15px 16px;
    }
    p{
      margin: 0;
    }
    li{
      min-height: 258px;
      max-height: 259px;
      @media (min-width: 769px) and (max-width: 1067px){
        min-height: 284px;
        max-height: 315px;
      }
      @media (min-width: 1068px) {
        min-height: 276px;
        max-height: 278px;
      }
      img{
        margin: -18px auto 0 !important;
        padding: 4px;
      }
    }
  }
  .reference,
  .domain{
    .p{
      margin-bottom: 10px;
      min-height: 90px;
    }
    ul{
      margin: 0; 
      padding: 0;
      li {
        width: 29%;
        float: left;
        margin: 2%;
        @include opacity (0.9);
        &:hover{
          @include opacity (1);
        }
        img{
          @include img-responsive;
          margin: 0 auto;
          @media (max-width: $screen-sm-min){
            width: 60%;
          }
        }
        h5{
          font-weight: bold;
          margin-top: 10px;
          color: #000;
          text-align: center;
          font-family: $corporate-font-family-sans-serif-Medium;
        }
        p{
          text-align: center;
          color: #193B6B !important;
          font-size: 12px;
        }
        @media (max-width: $screen-sm-min){
          width: 43%;
          float: none;
          margin: 0 3%;
          display: inline-block;
        }
        @media (max-width: $screen-xs-min){
          width: 70%;
          float: none;
          margin: 0 15%;
        }
      }
      li.cloud{
        @media (max-width: $screen-sm-min){
          margin: 0 28.5% 20px;
        }
        @media (max-width: $screen-xs-min){
          margin: 0 15%;
        }
      }
    }
  }
  .domain{
    @include make-sm-column(12, $gutter: $grid-gutter-width);
    @include make-md-column(6, $gutter: $grid-gutter-width);
    @include make-lg-column(6, $gutter: $grid-gutter-width);
    background-color: $white;
    min-height: 974px;  
    h2{
      color: #84c6a3;
      font-weight: bolder;
      border-bottom: 8px solid #84c6a3;
      padding: 31px 15px 3px;
      margin: 0 -15px 16px;
    }
    ul.center-top{
      li.last{
        @media (max-width: $screen-sm-min){
          margin-left: 28%;
        }
        @media (max-width: $screen-xs-min){
          margin: 0 15%;
        }
      }
    }
    ul.center-bottom{
      margin-left: 17%;
      width: 100%;
      @media (max-width: $screen-sm-min){
        margin-left: 0;
      }
    }

    div.bundles-front{ 
      clear: both;
      h2{
        color: #8cc63f;
        font-weight: bolder;
        border-bottom: 8px solid $gray-lighter;
        padding: 50px 15px 3px;
        margin: 0 -15px 16px;
      }
      div.bundle {
        @include make-sm-column(6, $gutter: $grid-gutter-width);
        @include make-md-column(6, $gutter: $grid-gutter-width);
        @include make-lg-column(6, $gutter: $grid-gutter-width);
        @media (max-width: $screen-sm-min){
          width: 100%;
          margin: 0 0% 20px;
          &:first-child{
            margin-top: 14px;
          }
        }
        h4{
          color: $brand-secundary;
        }
      }
      .row{
          margin-bottom: 25px;
          @media (max-width: $screen-sm-min){
            margin-bottom: 0px;
          }
        .bundle{
          &:first-child{
            border-right: 1px solid $gray;
            @media (max-width: $screen-sm-min){
              border-right: 1px solid transparent;
            }
          }
          &:last-child{
            margin-bottom: 0;
          }
          a {
            img{
              float: right;
              max-width: 71px;
              margin-bottom: 25px;
              margin-right: 44%;
              @include opacity (0.7);
              &:hover{
                @include opacity (1);
              }
              @media (max-width: $screen-sm-min){
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  }
  .row.sub-footer{
    background-color: #0071bc;
    margin: 0px 0px 0;
    padding: 12px 15px;
    .fw-academy{
      @include make-sm-column(4, $gutter: $grid-gutter-width);
      @include make-md-column(4, $gutter: $grid-gutter-width);
      @include make-lg-column(4, $gutter: $grid-gutter-width);
      @include make-md-column-offset(1);
      @include make-lg-column-offset(1);
      @include make-sm-column-offset(1);
      padding: 0;
      margin: 13px 0 0;
      @media (max-width: $screen-sm-min){
        margin-top: 10px;
      }
      h2{
        color: $brand-secundary;
        @media (max-width: $screen-xs-min){
          margin-top: 10px;
        }
      }
      p{
        color: $white;
        padding-bottom: 15px;
      }
    }
    img{
      @include make-sm-column(6, $gutter: $grid-gutter-width);
      @include make-md-column(6, $gutter: $grid-gutter-width);
      @include make-lg-column(6, $gutter: $grid-gutter-width);
      @include make-sm-column-offset(1);
      @include make-md-column-offset(1);
      @include make-lg-column-offset(1);
      @include img-responsive;
      max-width: 513px;
      @media (max-width: $screen-sm-min){
        float: right;
        max-width: 100%;
      }
    }
  }
}

/* ribbon style */

.ribbon-wrapper {
  width: 190px;
  margin: 0 auto;
  position: relative;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  //-moz-border-bottom-colors: rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.0);
  //-webkit-border-bottom-colors: rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0);
  //-moz-border-top-colors: rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.0);
  //-webkit-border-top-colors: rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.0);
}

.ribbon-front {
  background-color: #fbb03b; height: 51px;
  width: 250px;
  position: relative;
  left:-30px;
  z-index: 2;
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  @media (max-width: $screen-xs-min){
    width: 197px;
    left: -4px;
  }
  h3{
    text-align: center;
    font-weight: bold;
    color: $white;
    padding-top: 15px;
    padding-bottom: 11px;
    margin-top: -18px;
    &:hover{
      color: $white;
      text-shadow: 0px 0px 1px #FFF;
    }
  }
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

.ribbon-edge-topleft,
.ribbon-edge-topright {
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  top: 51px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
  left: -60px;
  border-color: transparent #A85F16 transparent transparent;
}

.ribbon-edge-topleft {
  top: 0px;
  border-width: 0px 30px 0 0;
}
.ribbon-edge-bottomleft {
  border-width: 0 31px 16px;
  @media (max-width: $screen-xs-min){
    border-width: 0 55px 16px;
  }
}

.ribbon-edge-topright,
.ribbon-edge-bottomright {
  left: 189px;
  border-color: transparent transparent transparent #A85F16;
}

.ribbon-edge-topright {
  top: 0;
  border-width: 0px 30px 0 0;
}
.ribbon-edge-bottomright {
  border-width: 0 31px 16px;
  @media (max-width: $screen-xs-min){
    border-width: 0 52px 16px;
    left: 140px;
  }
}

.ribbon-back-left {
  position: absolute;
  top: 15px;
  left: -89px;
  width: 90px;
  height: 0;
  background-color: #ACDFE8;
  z-index: 0;
  border-left: 25px solid rgba(0, 0, 0, 0);
  border-top: 52px solid #F7931E;
  @media (max-width: $screen-xs-min){
    left: -40px;
  }
}

.ribbon-back-right {
  position: absolute;
  top: 15px;
  right: -89px;
  width: 90px;
  height: 0px;
  background-color: #ACDFE8;
  z-index: 0;
  border-right: 25px solid rgba(0, 0, 0, 0);
  border-top: 52px solid #F7931E;
  @media (max-width: $screen-xs-min){
    left: 140px;
  }
}

