.page-user-subscriptions{
  .form-item-sendself,
  .form-item-digest{
  	width: 100%;
  	margin-bottom: 15px;
  }
  .radio, 
  .checkbox{
  	float: none;
  }
  .form-item.form-type-radio.radio {
		margin-top: 0.4em;
		margin-bottom: 0.4em;
	}
  .form-item.form-type-radios.form-group{
  	    display: block;
		float: none;
		min-height: 50px;
  }
  .panel-body{
  	padding: 10px;
  	.btn{
  	  float: right;
  	  @extend .btn-primary;
  
  	}

  }
}

#block-system-main{
  .profile{
    margin: 0;
    dl {
      position: absolute;
      margin-left: 122px;
    }
  }
}

.help-block{ 
  @extend .alert;
  @extend .alert-warning;
  padding: 5px 6px 5px 6px;
  margin-top: 5px;
}

.page-editor-users {
	#top-content{
		min-height: 0;
	}
	.select2-container{
		width: auto !important;
	}
	.view-filters{
		margin-bottom: 15px;
	}
}

.page-user{
  .region-content{
    position: relative;
    .block-block{
      position: absolute;
      margin-left: 121px;
      margin-top: 25px;
    }
  }
}

#block-system-main{
  .profile{
    .user-picture {
      float: left;
    }
    div.field-label-above{
      width: 100%;
      margin-bottom: 40px;
      float: left;
      .field-label{
        border-bottom: 1px solid #CCC;
        padding-bottom: 3px;
        margin-top: 8px;
        font-size: 12px;
      }
      .field-item{
        position: relative;
        width: 100%;
        min-height: 40px;
        border-bottom: 1px solid #DDD;
        min-height: 37px;
        a{
          position: absolute;
          top: 8px;
          width: 100%;
          min-height: 37px;
        }
      }  
    }
    h3{
      display: none;
      border-bottom: none;
      margin-bottom: 8px;
    }
    dl dt{
      font-size: 12px;
    }
    dl{
      padding-top: 57px;
    }
  }
}
#edit-suspend{
  .help-block{
    margin-top: 18px;
  }
}

#edit-settings{
  .help-block{
    margin-bottom: 18px;
  }
}

body.page-node{
  .admin-list{ 
    @include make-sm-column(9, $gutter: $grid-gutter-width);
    @include make-md-column(8, $gutter: $grid-gutter-width);
    @include make-lg-column(8, $gutter: $grid-gutter-width);
    dt {
      margin-top: 15px;
      padding-top: 7px;
      border-top: 1px solid #CCC;
    }
  }
}
body.page-group-node{
  .radio + .radio, .checkbox + .checkbox {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
  }
  td.checkbox{
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
    min-height: 50px;
  }
  .table-hover tbody tr:hover > td.checkbox {
    background-color: transparent;
  }
}
body.page-node-group{
  table#permissions{
    font-size: 0.923em;
    margin: 0 0 10px;
    border: 1px solid #BEBFB9;
    @include make-sm-column(9, $gutter: $grid-gutter-width);
    @include make-md-column(8, $gutter: $grid-gutter-width);
    @include make-lg-column(8, $gutter: $grid-gutter-width);
    margin: 0 auto;
    th{
      text-transform: uppercase;
      background: #E1E2DC;
      font-weight: normal;
      border-width: 1px;
      border-style: solid;
      border-color: #BEBFB9;
      padding: 3px 10px;
    }
  }

  .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: transparent;
    color: #FFF;
  }

  .table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #F3F4EE;
  }
}

.table-striped{
  td.checkbox,
  th.checkbox{
    width: 86px !important;
    text-align: center !important;
  }
}
