a:focus{
  outline: none;
}

#registration{
  @include especial-row;
}
#home{
  @include especial-row;
}
#frontpage{
  @include especial-row;
}

#top-content{
  @include top-content;
}

.logged-in{
  span h3.title{
    display: none;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 14px 0;
  }
}
.not-logged-in{
  span h3.title{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 14px 0;
  }
}

.logged-in.page-user{
  h3.title{display:none;}
}
.page-user-login{
  h3.title{display:none;}
}
.not-logged-in.page-user{
  h3.title{display:none;}
}
.not-logged-in.page-home{
  h3.title{display:none;}
}

body.admin-menu {
  margin-top: 0px !important;
}

h1#page-title{
  display: none;
}

#messages{
  position: relative;
  z-index: 100;
  background-color: #FFF;
}


#search-block-form .container-inline{
  margin-bottom: 20px;
}

.pagination-wrapper{
  text-align: left;
  clear: both;
}
.views-exposed-widget {
  padding: 0 !important;
}

.enabler-list-content{
  padding: 0;
  margin-top: 15px;
  @media (max-width: $screen-md-min){
    padding: 10px !important;
  }
}
.view-id-bundles_list, .view-id-tool_list, .panel-1col{
  width: 100%;
  margin-top: 15px;
  padding-top: 0;
  clear: both;
  float: left;
}
.filter-bar {
  padding: 0;
  h4{
    padding: 7px 0;
    font-size: 1.5em
  }
  .filter-search{
    margin-top: 13px;
  }
  .filter-chapters, .filter-ranks{
    padding: 10px 0 !important;
    max-width: 250px;
    .bef-checkboxes{
      padding-left: 17px;
      input[type="checkbox"]{
        margin-left: -17px;
      }
    }
  }
  .views-submit-button{
    .ajax-progress{
      opacity: 0.6;
      position: absolute;
      background-color: black;
      width: 250px;
      padding: 20px;
      top: 35%;
      left: 305%;
      z-index: 9999;
      border-radius: 5px;
      .icon-progress{
        font-size: 1.9em;
        margin: 0 auto;
        color: white;
        text-align: center;
      }
      .text-progress{
        font-family: "NeoTechRegular";
        font-size: 1.1em;
        margin: 0 auto;
        color: white;
        text-align: center;
        padding: 5px;
      }
    }
  }
  .views-exposed-form {
    .form-item{
      margin: 0 0 10px 0;
    }
  }
  @media (max-width: $screen-md-min){
    padding: 10px !important;
    .views-submit-button{
      .ajax-progress{
        top: 50%;
        left: 32%;
      }
    }
  }
  @media (max-width: $screen-xs-min){
    .views-submit-button{
      .ajax-progress{
        top: 50%;
        left: 16%;
      }
    }
  }
}

.views-exposed-form {
  label{
    font-family: "NeoTechRegular" !important;

  }
}

#block-workbench-block {
  clear: both;
  width: 100%;
  .workbench-info-block{
    padding: 0.8em 1em;
  }
  .edit-submit{
    margin-top: 5px;
  }
}

#edit-field-so-name{
  display: none;
}

#tabs{
  .btn-group{
    .dropdown{
      @extend .btn;
      @extend .btn-default;
    }
  }
}



.region-content .block-aggregator{
  float: right;
  padding: 7px 10px 8px;
  margin-top: 0;
  max-height: 34px;
  @extend .btn;
  @extend .btn-default;
  &:hover{
    a{
      color: $brand-primary;
    }
  }
  @media (max-width: $screen-xs-min){
    display: none;
  }
  h2 a{
    padding-right: 14px;
    font-size: 14px;
    color: #8C8C8C;
    font-family: "verdana", sans-serif !important;
  }
  div.content{
    position: absolute;
    z-index: 99;
    background-color: #FFF;
    width: 340px;
    margin-left: -212px;
    padding-bottom: 10px;
    padding-top: 0px;
    background-color: #EDEDED;
    margin-top: 7px;
    ul{
      background-color: #EDEDED;
      padding: 4px;
      li {
        padding: 6px 8px;
        border-bottom: 1px solid #CCC;
        margin: 0;
        @include text-overflow;
        &:hover{
          background-color: $white;
          cursor: pointer;
          a{
            color: $brand-secundary;
          }
        }
      }
    }
    .more-link{
      a{
        @extend .btn;
        @extend .btn-default;
        float: right;
        padding: 3px 10px;
        margin-right: 5px;
      }
    }
  }
}
.page-header{
  .btn{
    float: left;
    margin-top: 2px;
  }
}

.node-unpublished {
  border: 1px solid rgba(226, 64, 104, 0.82) !important;
  background: rgba(226, 64, 104, 0.04);
  .img-notpublished{
    position: absolute;
    right: -4px;
    top: 10px;
  }
}

#page-wrapper {
  @include make-sm-column(12, $gutter: $grid-gutter-width);
  @include make-md-column(12, $gutter: $grid-gutter-width);
  @include make-lg-column(12, $gutter: $grid-gutter-width);
  margin-top: 85px;
  padding-bottom: 150px;
  @media (max-width: $screen-sm-min){
    margin-top: 68px;
    padding: 0 5px 133px;
  }
}

#page{
  max-width: 1200px;
  @include center-block;
  padding-bottom: 0px;
}

#main-wrapper{
  margin-bottom: 0;
  margin-top: 16px;
}

#main{
  background-color: $white;
}
#top-content{
  margin-bottom: 0;
}
#tabs {
  margin-bottom: 0px;
}

.view-content{
  @include viewcontent;
  .views-row{
    @include viewsrow;
  }
}
.collapse-processed .fieldset-wrapper {
 margin-left: 0;
}

#top-content {
  min-height: 33px;
  .dropdown.actions{
    .dropdown-menu li {
      margin: 0;
      padding: 0;
      float: none;
      a{
        background-color: #F1F1F2;
        padding: 6px 0;
        text-align: center;
        &:hover{
          background-color: #AFAFB5;
          color: $white !important;
        }
      }
      &:hover{
        background-color: #AFAFB5 !important;
        color: $white !important;
      }
    }
  }
}

.fix-row{
  margin: 0;
}

.select2-container {
  width: 100% !important;
  margin-bottom: 7px;
}

#secondary-menu-links{
  @extend .dropdown-menu;
  right: 0;
  left: auto;
  li{
    float: none;
  }
}
#secondary-menu-links.secondary-links{
  @extend .dropdown-menu-right !optional;
}

.not-logged-in {
  #page-wrapper{
    margin-top: 84px;
    @media (max-width: $screen-sm-min){
      margin-top: 57px;
      margin-bottom: 0;
    }
  }
  #top-content{
    min-height: 0;
  }
}
.page-user-login{
  #page-wrapper{
    margin-top: 56px;
    padding: 0 5px 133px;
    @media (max-width: $screen-sm-min){
      margin-top: 8px;
    }
  }
  #top-content{
    display: block;
  }
}


#admin-menu, #admin-menu .dropdown {
  z-index: 999999999;
}

#tabs h3.title{
  float: left;
  padding: 6px 0;
  margin: 0;
  min-height: 34px;
  width: auto;
  overflow: visible;
  text-overflow: initial;
  white-space: normal;
}

.node-promoted {
  .submitted {
    padding: 0px 30px 0px;
    width: 70%;
    margin: 19px auto -1px;
    font-size: 12px;
    text-align: right;
    display: none;
    span{
      font-family: monospace;
      padding-top: 13px;
      display: block;
    }
  }
}

.page-node-edit{
  @include modal-simulation;
}

.views-exposed-widget{
  margin-right: 16px;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.45em;
}


#views_infinite_scroll-ajax-loader {
  margin-bottom: 33px;
}

.pane-content{
  @media (max-width: $screen-sm-min){
    //padding: 0 10px;
  }
}
